.App {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.card-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.cocktail-card {
  flex-grow: 1; /* <-- Lets them grow equally */
  flex-shrink: 1; /* <-- Lets them shrink equally. OPTIONAL as 1 is the default */
  max-width: 400px;
  margin: 0px 5px;
}

.nav {
  text-decoration: none;
  padding: 30px;
  color: #686d76;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.69em;
}

.nav-bar {
  padding: 15px 440px 15px;
  background-color: #def4e4;
}

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* .cocktail-image {
  float: left;
  padding: 40px;
} */

.link {
  text-decoration: none;
  color: #18728f;
}

.link :hover {
  color: darkgrey;
}

.home-image {
  padding: 20px;
}
